.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  background-color: #dfdfdf;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-to-top-button:hover {
  background-color: #aaa;
}