.search-bar {
    display: flex;
    background-color: var(--cloudGrey);
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    padding: 5px;
    border-radius: 25px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 7px 15px 7px 15px;
    background-color: transparent;
    font-size: small;
    width: 250px;
}
