.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  border: 2px solid var(--iceWhite); /*acho que ter borda não entra na padronização do outros elementos*/
  border-radius: 100%;
  background-color: transparent;
  color: var(--iceWhite);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
