.project-detail-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    padding-left: 10%;
    padding-top: 2%;
    padding-right: 10%;
}

.project-detail-title {
    margin-top: 50px;
    font-size: 37px;
    font-weight: bold;
    text-align: left;
    color: var(--darkPurple);
    padding-bottom: 5%;
}

.project-detail-image {
    max-height: 500px;
    width: 80%;
    object-fit: cover; 
    border-radius: 20px;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-detail-description {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
    font-size: 17px;
    color: var(--darkPurple);
    /* width: 80%; */
}

.description-title {
    font-size: 20px;
    color: var(--darkPurple);
    padding-bottom: 1%;
}

.project-detail-gallery {
    margin-bottom: 100px;
}