
.submit-project {
  background-color: var(--midPurple);
  color: var(--iceWhite);
  font-size: small;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.submit-project:hover {
  background-color: var(--lightPurple);
  color: var(--darkPurple);
  border-radius: 25px;
  transition: background-color 0.1s ease-in-out;
  border: none;
}